/* 商用利用可のフォントファイル読み込み */
@font-face {
  font-family: 'MyGameFont';
  src: url('../fonts/hunwariusagi.ttf') format('truetype');
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #bfdfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'MyGameFont', sans-serif;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  /* スマホでタップした時の青い枠（ハイライト）を消す */
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  z-index: 5;
  background: transparent;
}

/* PC版：背面画像 */
#pcHowImage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  padding: 60px;
  box-sizing: border-box;
  background-color: rgba(235, 245, 243, 1);
}

/* PC版：矢印（Canvasの外に配置） */
.pc-arrow {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 100px;
  color: #668884;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  font-weight: bold;
}

#arrowLeft {
  left: 40px;
}

#arrowRight {
  right: 40px;
}

/* --- スマホ案内パネル：右下に配置 --- */
#pcSidePanel {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 180px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 20;
  font-family: sans-serif;
}

#pcSidePanel p {
  font-family: 'MyGameFont', sans-serif;
  font-size: 16px;
  color: #555;
  margin: 0 0 10px 0;
  line-height: 1.4;
  font-weight: bold;
}

#pcSidePanel img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

#pcSidePanel .small-text {
  font-size: 12x;
  color: #888;
  font-weight: normal;
}


@media screen and (max-width: 768px) {
  #pcSidePanel {
    display: none !important;
  }
}